* {
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
}

header {
  margin-top: 20px;
  margin-bottom: 20px;
}


h1 {
  font-family: 'Birthstone', cursive;
  color: red;
}


div p {
  background-color: rgba(0, 90, 200, 0.8);
  text-align: left;
  padding: 8px 16px;
  margin-left: 100px;
  display: flex;
  float: right;
  margin-top: -110px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
}

.about-title {
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif;
  margin-left: 80px;

}

.perfilPicture {
  width: 80px;
  clip-path: circle();
  margin-right: 500px;

}

.workPicture {
  width: 300px;
  border-radius: 10px;
  margin-left: -100px;
}