* {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

body {
  background: rgb(26, 26, 26);
}

html {
  overflow-x: hidden;
}

.glass-effect {
  align-items: center;
  background: rgba(255, 255, 255, 0.031);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(58, 58, 58, 0.18);
  z-index: 1;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  overflow: hidden;
  height: 55px;
}

.glass-effect p {
  text-align: center;
  font-size: 40px;
  font-family: 'Birthstone', cursive;
  color: white;
}

.workPicture {
  margin-top: 50px;
  max-width: 100%;
  max-height: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 25%);
}

h2 {
  font-family: 'Alumni Sans Pinstripe', sans-serif;
  margin-bottom: -30px;
  font-size: 50px;
  color: white;
}

.about-title {
  margin-top: 20px;
  margin-bottom: -7px;
}

.perfilPicture {
  width: 150px;
  clip-path: circle();
  margin-bottom: -10px;
}

.about p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  text-decoration: underline rgba(255, 0, 0, 0.772) 1px;
  color: white;
}

h3 {
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 2px;
  color: white;
  width: 370px;
}

.hair-cut img,
.beard-cut img {
  width: 150px;
  border-radius: 10px;
}

.hair-cut,
.beard-cut {
  margin-bottom: 30px;
}

iframe {
  margin-top: -30px;
}